
<div class="container">
  <app-headerof-boost></app-headerof-boost>
  <main class="container">
    <app-cardboots></app-cardboots>
    <app-cardboots2></app-cardboots2>
      <div class="row g-2">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">{{firehouse}}</h3>
          <app-articals></app-articals>
          <nav class="blog-pagination mb-5 ">
            <a class="btn btn-outline-primary me-2 rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled rounded-pill" href="#">Newer</a>
          </nav>
        </div>
        <div class="col-md-4">
        <app-side-bar></app-side-bar>
    </div>
  </div>
  </main>
  <footer class="blog-footer text-center p-4 bg-light">
    <app-footerofboots></app-footerofboots>
  </footer>




</div>